# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Lint and Test Lemonade for OGA on CPU

on:
  push:
    branches: ["main"]
    paths:
      - '**.py'
      - '**.yml'
  pull_request:
    paths:
      - '**.py'
      - '**.yml'
  merge_group:
    paths:
      - '**.py'
      - '**.yml'

permissions:
  contents: read

jobs:
  make-oga-cpu-lemonade:
    env:
        LEMONADE_CI_MODE: "True"
    runs-on: windows-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Create virtual environment and install dependencies
        shell: bash
        run: |
          python -m venv .venv
          venvPython=".venv/Scripts/python"
          venvPip=".venv/Scripts/pip"
          $venvPython -m pip install --upgrade pip
          $venvPip install pylint
          $venvPython -m pip check
          $venvPip install -e .[dev,oga-cpu]
      - name: Lint with Black
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "./src"
      - name: Lint with PyLint
        shell: bash
        run: |
          venvPylint=".venv/Scripts/pylint"
          $venvPylint src/lemonade --rcfile .pylintrc --disable E0401
      - name: Run lemonade tests
        shell: bash
        run: |
          venvPython=".venv/Scripts/python"
          venvLemonade=".venv/Scripts/lemonade"
          # Test CLI
          $venvLemonade -i amd/Qwen2.5-0.5B-Instruct-quantized_int4-float16-cpu-onnx oga-load --device cpu --dtype int4 llm-prompt -p "tell me a story" --max-new-tokens 5

          # Test low-level APIs
          $venvPython test/oga_cpu_api.py

          # Test high-level APIs
          $venvPython examples/api_oga_cpu.py
          $venvPython examples/api_oga_cpu_streaming.py

# This file was originally licensed under Apache 2.0. It has been modified.
# Modifications Copyright (c) 2025 AMD
