# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Lint and Test Lemonade

on:
  push:
    branches: ["main"]
    paths:
      - '**.py'
      - '**.yml'
  pull_request:
    paths:
      - '**.py'
      - '**.yml'
  merge_group:
    paths:
      - '**.py'
      - '**.yml'

permissions:
  contents: read

jobs:
  make-lemonade:
    env:
        LEMONADE_CI_MODE: "True"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Create virtual environment and install dependencies
        shell: bash
        run: |
          python -m venv .venv
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            venvPython=".venv/Scripts/python"
            venvPip=".venv/Scripts/pip"
            venvLemonadeServerDev=".venv/Scripts/lemonade-server-dev"
          else
            venvPython=".venv/bin/python"
            venvPip=".venv/bin/pip"
            venvLemonadeServerDev=".venv/bin/lemonade-server-dev"
          fi
          $venvPython -m pip install --upgrade pip
          $venvPip install pylint
          $venvPython -m pip check
          $venvPip install -e .[dev,oga-cpu]
          $venvLemonadeServerDev pull Qwen2.5-0.5B-Instruct-CPU
      - name: Lint with Black
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "./src"
      - name: Lint with PyLint
        shell: bash
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            venvPylint=".venv/Scripts/pylint"
          else
            venvPylint=".venv/bin/pylint"
          fi
          $venvPylint src/lemonade --rcfile .pylintrc --disable E0401
          $venvPylint examples --rcfile .pylintrc --disable E0401,E0611,F0010 --jobs=1 -v
      - name: Run lemonade tests
        shell: bash
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            venvPython=".venv/Scripts/python"
            venvLemonade=".venv/Scripts/lemonade"
          else
            venvPython=".venv/bin/python"
            venvLemonade=".venv/bin/lemonade"
          fi
          # Test CLI
          $venvLemonade -m -i facebook/opt-125m huggingface-load llm-prompt -p "hi" --max-new-tokens 10
          
          # Test low-level APIs
          $venvPython test/llm_api.py

          # Test server CLI
          $venvPython test/server_cli.py

          # Test high-level APIs
          $venvPython examples/api_basic.py
          $venvPython examples/api_streaming.py

# This file was originally licensed under Apache 2.0. It has been modified.
# Modifications Copyright (c) 2025 AMD
